body{
                text-align: center;
                font-family: arial;
                overflow: auto;
                text-align: center;
            }
            #button{
                margin:20px;
                font-size:16px;
                font-weight: bold;
                padding:5px 10px;
            }
            #Top_Bar{
                height: 10%;
                font-size: 24px;
                line-height: 60px;
                text-align: center;
                margin: auto;
                background-color: #40B0C0;
                color: #fff;
            }

            #leftPane {
                background-color: #40B0C0;
                position: fixed;
                float: left;
                font-size:20px;
                width: 15%;
                height: 95%;
                color: #fff;
                }

            #results {
                position: fixed;
                margin-left: 20%;
                margin-right: 0%;
                margin-bottom: 5%;
                font-size: 30px;
                height: 80%;
                width: 80%;
                overflow-y: scroll;
            }
            li{
                text-align: left;   
                padding: 10px 10px 10px 10px;
                list-style-type: none;
                }
            #footer{
                height: 30px;
                width: 80%;
                position: fixed;
                bottom: 0;
                margin-left: 10%;
                font-size: 14px;
                line-height: 30px;
                text-align: center;
                background-color: #40B0C0;
                color: #fff;
                }
            #blocky{
                background-color: #40B0C0;
                width: 25%;
                height: 25%;
                float: left;
                margin-right: 5%;
                margin-top: 1%;
                margin-bottom: 1%;
                overflow:hidden;
                }
            #bottom {
                clear:both;
                margin-left:0.5%;
                width:85%;
                padding: 3.5%;
                background:gold;
                }
            #smallblock{
                background-color: #FFD685;
                width: 30%;
                height: 4%;
                float: left;
                margin-right: 3%;
                margin-top: 1%;
                display: table;
            }
            .fancybox-skin {
                color: rgba(66, 37, 37, 1);
                text-shadow: none;
                font-size: 20px;
                line-height: 2;
                }