body {
  margin: 0px 0px 0px 0px;
}

/*
.static {
  background-color: #00ffff;
  position: fixed;
  z-index: 100;
}
*/

.dynamic {
  visibility: hidden;
  position: absolute;
  top: 60px;
  left: 180px;
}

/*
#logo {
  width: 12%;
}
*/

#topBar {
  float: right;
  width: 100%;
}

#leftPane {

  top: 60px;
  float: left;
  width: 180px;
  height: 100%;
}

button {
  background-color: transparent;
  border-width: 0px;
  padding: 0px;
  margin-left: 15px;
  margin-top: 25px;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bolder;
}

#searchBox {
  margin: 10px 10px 10px 10px;
  padding: 0px;
  border-width: 0px;
  width: 720px;
  height: 40px;
  font-size: 20px;
  font-style: italic;
}

#user {
  margin: 10px 10px 10px 10px;
  width: 360px;
  height: 40px;
  font-size: 15px;
  position: fixed;
  top: 0px;
  left: 920px;
}
