<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
         <h4 class="modal-title">Create a Posting</h4>
      </div>
      <!-- form here -->
      <form data-parsley-validate class="submit-form" id="submit-form" method="post" action="{{ upload_url }}" enctype="multipart/form-data">
      <div class="modal-body">
         {% csrf_token %}
         {{ form.as_p }}
      </div>
      <div class="modal-footer">
        <input class="btn btn-primary" id="modal-submit" type="submit" value="Save" />
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
      </form>
    </div>
</div>