<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="utf-8">
    <title>Princeton Marketplace</title>
    <link href="/static/market/index.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/static/market/index.js"></script>
  </head>
  
  <body>
    <!-- top left corner of web app will contain logo -->
    <img src="/static/market/logo.png" id="logo" class="static"></img>

    <!-- horizontal bar at the top -->
<!--
    <div id="topBar" class="static">
-->
<!--
      <form>
        <input type="text" name="query" id="searchBox" placeholder=" search in current tab">
      </form>
      <div id="user">
      {% if user.is_authenticated %}
        Hi, {{ user.first_name }} {{ user.last_name }}! <br>
        <a id="log" href = "accounts/logout/">Logout</a>
      {% else %}
        <a id="log" href = "accounts/login/">Login</a>
      {% endif %}
      </div>
-->
<!--
    </div>
-->
    
    <!-- vertical pane on the left -->
<!--
    <div id="leftPane" class="static">
      <button id="home">Home</button><br>
      <button id="buy">Buy postings</button><br>
      <button id="sell">Sell postings</button><br>
      <button id="reqs">My requests</button><br>
      <button id="resps">My responses</button><br>
      <br>
      <button id="special">Categories</button><br>
      <div id='cats'>
      </div>
    </div>
-->
    
    <!-- the main dynamic portion of the app -->
<!--
    <div class="dynamic">
      fdgvfgdvfd <br>
      dsfcvsdfsfvdvfsd <br>
      fdgvfgdvfd <br>
            fdgvfgdvfd <br>
      dsfcvsdfsfvdvfsd <br>
            fdgvfgdvfd <br>
      dsfcvsdfsfvdvfsd <br>
    </div>
-->
  </body>
  
</html>
