<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/img/favicon.png">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
    <script type="text/javascript" src="/static/fancybox/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="/static/bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap-3.1.1-dist/css/bootstrap.css" type="text/css" />
    <title>The Princeton Marketplace</title>
    <style>
            body{
                text-align: center;
                font-family: arial;
                overflow: auto;
                text-align: center;
            }
            #button{
                margin:20px;
                font-size:16px;
                font-weight: bold;
                padding:5px 10px;
            }
            #Top_Bar{
                height: 10%;
                font-size: 24px;
                line-height: 60px;
                text-align: center;
                margin: auto;
                background-color: #40B0C0;
                color: #fff;
            }

            #leftPane {
                background-color: #40B0C0;
                position: fixed;
                float: left;
                font-size:20px;
                width: 15%;
                height: 95%;
                color: #fff;
                }

            #results {
                position: fixed;
                margin-left: -30%;
                font-size: 30px;
                height: 800px;
            }
            li{
                text-align: left;   
                padding: 10px 10px 10px 10px;
                list-style-type: none;
                }
            #footer{
                height: 30px;
                width: 80%;
                position: fixed;
                bottom: 0;
                margin-left: 10%;
                font-size: 14px;
                line-height: 30px;
                text-align: center;
                background-color: #40B0C0;
                color: #fff;
                }
            #blocky{
                background-color: #40B0C0;
                width: 25%;
                height: 25%;
                float: left;
                margin-right: 5%;
                margin-top: 10%;
                display: table;
                }
            #bottom {
                clear:both;
                margin-left:0.5%;
                width:85%;
                padding: 3.5%;
                background:gold;
                }
            #smallblock{
                background-color: #FFD685;
                width: 30%;
                height: 4%;
                float: left;
                margin-right: 3%;
                margin-top: 1%;
                display: table;
            }
        </style>
</head>
<body>
<!-- THE MODAL FOR POP-UP MENUS -->
<div class="modal fade" id='PopUpModal' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"></button>
        <button type="button" class="btn btn-primary"></button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
    
    <div id="Top_Bar">The Princeton Marketplace<BR>
        {% if user.is_authenticated %}
            <a href = "accounts/logout/">Logout Here!</a>
            <a href = "create_posting/">Add a Posting!</a>
        {% else %}
            <a href = "accounts/login/">Login Here!</a><BR>
        {% endif %}
    </div>
        <div id="leftPane">
            <ul>
                <li>HOME</li>
                <li>ALL BUYING POSTINGS</li>
                <li>ALL SELLING POSTINGS</li>
                <li>CREATE POSTING</li>
                <li>EDIT PROFILE</li>
            </ul> 
            <!-- <input type="button" value="Get and parse JSON" id="button1" />  <br />
            <input type="button" value="RESET" id="button2" /> <br />
            <input type="button" value="ME" id="button3" />  <br />
            <input type="button" value="GIMME ALL" id="button4" />   <br /> 
            Buttons setup -->

        </div>  
    <span id="results">
{% if user.is_authenticated %} <font size = "4"> Hi, {{ user.first_name }}. <a href = "accounts/logout">(not {{ user.first_name }} {{ user.last_name }}?)</a> We wish you a happy day.<br></font>
<div id="cat1">
</div>
<div id="cat2">
</div>
<div id="cat3">
</div>
<script>
function home(){
var user_id = {{ user.id }};
$.ajax({
   url: "{% url 'market:user_detail' 000 %}".replace(000, user_id),
   dataType: "json",
   success: function(data) {
        var cats = data["categories"];
        var catnum = Object.keys(cats).length;
        
        // someone play with the percentages here?
        $('#cat1').html("You like " + cats[0]["name"] + "! That is cool. Let us fetch you posts from that category:<br><table><tr><td style='border-width:0px' width='20%' id='cat1sell'></td><td width='3%'></td><td style='border-width:0px' width='20%' id='cat1buy'></td></tr></table>");
        $.ajax({
          url: "{% url 'market:category_selling_posts' 000 %}".replace(000, cats[0]["id"]),
          dataType: "json",
          beforeSend:function(){
           // this is where we append a loading image
           $('#cat1sell').html('<div class="loading"><img src="http://glenmartinmusic.com/mustache/wp-content/themes/glenmartin/images/loader.gif" alt="Loading..." width = "50" height = "50" align="center" /></div>');
          }, 
          // fetch all posts from first category of user preference.
          // To be implemented: how to determine this "first"? Based on user preference, past uses?
          // FOR MODULARITY I THINK THIS FUNCTION SHOULD BE STORED SEPARATELY. And I wasn't sure how to do this.. if someone takes care of this i'll be extremely thankful. -Bumsoo
          success: function(data) {
            /*console.log(data);*/
            var json = data;
            var count = Object.keys(json).length;
            /*console.log(json);*/
            $('#cat1sell').html("Selling:<br>");
            for (var i = 0; i < 5; i++)
            {
              if (i >= count) break;
              var post_id = json[i]["id"];
              var url = "{% url 'market:posting_detail' 000 %}".replace(000, post_id);
              var toturl = "<a href = " + url + ">" + json[i]["title"] + "</a>";
              $('<div>', {
               'id' : 'smallblock',
               'html' : $('<a>', 
                 {
                  'href': url,
                  'html': '<font size="3">' + json[i]["title"] + '</font>'
                 })
              }).appendTo('#cat1sell');
            }
          },
          error:function(){
			   // failed request; give feedback to user
			   $('#cat1sell').html('<p class="error"><strong>Oops!</strong> Try that again in a few moments. Ajax is not working or you are not logged in. </p>');
		    }
        });
        $.ajax({
          url: "{% url 'market:category_buying_posts' 000 %}".replace(000, cats[0]["id"]),
          dataType: "json",
          beforeSend:function(){
            // this is where we append a loading image
            $('#cat1buy').html('<div class="loading"><img src="http://glenmartinmusic.com/mustache/wp-content/themes/glenmartin/images/loader.gif" alt="Loading..." width = "50" height = "50" align="center" /></div>');
          }, 
          success: function(data) {
            /*console.log(data);*/
            var json = data;
            var count = Object.keys(json).length;
            /*console.log(json);*/
            $('#cat1buy').html("Buying:<br>");
            for (var i = 0; i < 5; i++)
            {
              if (i >= count) break;
              var post_id = json[i]["id"];
              var url = "{% url 'market:posting_detail' 000 %}".replace(000, post_id);
              $('<div>', {
               'id' : 'smallblock',
               'html' : $('<a>', 
               {
                 'href': url,
                 'html': '<font size="3">' + json[i]["title"] + '</font>'
               })
              }).appendTo('#cat1buy');
            }
          },
          error:function(){
			   // failed request; give feedback to user
			   $('#cat1buy').html('<p class="error"><strong>Oops!</strong> Try that again in a few moments. Ajax is not working or you are not logged in. </p>');
		    }
        });
     }
   });
}
home();
</script>

{% else %} Please click on "Login" above to sign in via the Central Authentication system.<br> We support many user-friendly features (categories, hashtags, ..) once you log in!{% endif %}
    </span>
    <script>
        $(document).ready(function() {
            var category = []; //titles
            var description = []; //authors
            var author = []; //glats
            var price = []; //glons
            var title = []; //ids
            var date = [];
            $ ('#PopUpModal').on('submit', '.submit-form', function() {
                $.ajax({
                    type: $(this).attr('method'), 
                    url: $(this).attr('action'),
                    data: $(this).serialize(),
                    success: function() { // on success..
                        $('#PopUpModal').modal('hide')
                    },
                    error: function(resp) { // on error..
                        var errors = JSON.parse(resp.responseText);
                        for (error in errors)
                        {
                            var id = '#id_' + error;
                            $(id).parent('p').prepend(errors[error]);
                        }
                    }
                });
                return false;
            });
            $ ("#leftPane ul li").click(function (ev) {
                var texti = $(this).text();
                if (texti === "ALL BUYING POSTINGS") {
                    $.ajax({
                        url: "{% url 'market:all_buying_posts' %}",
                        dataType: "json",
                        beforeSend:function(){
                            // this is where we append a loading image
                            $('#results').html('<div class="loading"><img src="http://glenmartinmusic.com/mustache/wp-content/themes/glenmartin/images/loader.gif" alt="Loading..." width = "50" height = "50" align="center" /></div>');
                        }, 
                        success: function(data) {
                            /*console.log(data);*/
                            var json = data;
                            var count = Object.keys(json).length;
                            document.title = "All Buying Postings " + count;
                            /*console.log(json);*/
                            $('#results').html("");
                            for (var i = 0; i < count; i++)
                            {
                                var post_id = json[i]["id"];
                                var url = "{% url 'market:posting_detail' 000 %}".replace(000, post_id);
                                var toturl = "<a href = " + url + ">" + json[i]["title"] + "</a>";
                                $('<div>', {
                                    'id' : 'blocky',
                                    'html' : $('<a>', 
                                    {
                                        'href': url,
                                        'html': json[i]["title"]
                                    })
                                }).appendTo('#results');
                            }
                        },
                        error:function(){
					    // failed request; give feedback to user
					    $('#results').html('<p class="error"><strong>Oops!</strong> Try that again in a few moments. Ajax is not working or you are not logged in. </p>');
						}
                	});
				}
               else if (texti === "ALL SELLING POSTINGS") {
                    $.ajax({
                        url: "{% url 'market:all_selling_posts' %}",
                        dataType: "json",
                        beforeSend:function(){
                            // this is where we append a loading image
                            $('#results').html('<div class="loading"><img src="http://glenmartinmusic.com/mustache/wp-content/themes/glenmartin/images/loader.gif" alt="Loading..." width = "50" height = "50" align="center" /></div>');
                        }, 
                        success: function(data) {
                            /*console.log(data);*/
                            var json = data;
                            var count = Object.keys(json).length;
                            document.title = "All Selling Postings " + count;
                            /*console.log(json);*/
                            $('#results').html("");
                            for (var i = 0; i < count; i++)
                            {
                                var post_id = json[i]["id"];
                                var url = "{% url 'market:posting_detail' 000 %}".replace(000, post_id);
                                var toturl = "<a href = " + url + ">" + json[i]["title"] + "</a>";
                                $('<div>', {
                                    'id' : 'blocky',
                                    'html' : $('<a>', 
                                    {
                                        'href': url,
                                        'html': json[i]["title"]
                                    })
                                }).appendTo('#results');
                            }
                        },
                        error:function(){
					    // failed request; give feedback to user
					    $('#results').html('<p class="error"><strong>Oops!</strong> Try that again in a few moments. Ajax is not working or you are not logged in. </p>');
						}
             	});
				}
            
                else if (texti === "HOME") {
                    $('#results').html('<p> Welcome to the Marketplace, the place for you to trade anything you want. </p><br><br> {% if user.is_authenticated %} <font size = "4"> Hi, {{ user.first_name }}. <a href = "accounts/logout">(not {{ user.first_name }} {{ user.last_name }}?)</a> We wish you a happy day.<br> <font size = "4"> My favorite category: {% else %} Please click on "Login" above to sign in via the Central Authentication system.<br> We support many user-friendly features (categories, hashtags, ..) once you log in!{% endif %}');
                }
                else if (texti === "CREATE POSTING")
                {
                    ev.preventDefault();
                    var url = "{% url 'market:create_posting' %}"
                    $('#PopUpModal').load(url, function() {
                        $(this).modal('show');
                    });
                    return false;
                }
                else if (texti === "EDIT PROFILE")
                {
                    ev.preventDefault();
                    var url = "{% url 'market:edit_profile' %}"
                    $('#PopUpModal').load(url, function() {
                        $(this).modal('show');
                    });
                    return false;
                }
            });
    });
    </script>
</body>
</html>